.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display {
    font-size: 4rem;
    text-align: center;
    margin: 5rem;
}


.app {
    height: 720px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.berlinda {
    position: absolute;
    height: 100%;
    opacity: 20%;
    width: 100%;
}

.berlinda::before {
    content: "";
    position: absolute;
    top: -3rem;
    left: -1rem;
    background: url('img/berlinda.svg') no-repeat top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.percentage {
    position: relative;
    z-index: 10001;
    font-size: 7rem;
    font-weight: bold;
}